$mobileView: "(max-width: 768px)";

.qdb-nav-item {
  float:left;
  display:block;
}

#qdb-logo {
  margin-top:-5px;
  margin-right:10px
}

#qdb-content {
  margin-top: 70px;
}

.qdb-quote-text {
  margin-top: 10px;
  margin-bottom:10px;
}

.qdb-tag-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.qdb-input {
  margin-bottom: 30px;
}

@media #{$mobileView}{
  #qdb-content{
    margin-top:200px;
  }
}
